[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
fastai = "*"
starlette = "*"
uvicorn = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.6"
